*{
	margin:0;
	padding:0;
}
body{
	margin:0;
	padding:0;
	background:;
	background-size:cover;
	font-family:sans-serif;
}
.container2{
	width:100%;
}

.wrapper2{
	width:95%;
	margin:0;
	margin-left:15px;
	
}
.header{
	width:100%;
	
	margin-top:3px;
	background:#24395b;
	color:white;
	height:45px;
	box-shadow:5px 5px 3px grey;
}
#topleft{
	display:inline-block;
	margin-left:15px;
	color:white;
}
#topleft h1{
	margin:0;
	color:white;
}
#topright{
	float:right;
	color:white;
	margin-right:100px;
}
.displayname{
	background:#24395b;
	color:white;
	font-weight:bold;
	border:none;
	margin-top:7px;;
	padding:0;
	cursor:pointer;
	border-radius:15px;
	display:inline-block;
	float:left;
}
.displayname:hover{
	opacity:0.8;
	border-radius:5px;
	
}
.logout {
	background:#24395b;
	border:none;
	color:white;
	padding:8px;
	margin:0;
	border:none;
	float:right;
	font-weight:bold;
	border-radius:15px;
	
}
.logout:hover{
	opacity:0.6;
}
#topright img{
	float:left;
	display:inline-block;
	margin:0;
}
#topright p{
	float:right;
	margin-left:10px;
	margin-right:40px;
}
.head_navbar ul li{
	background:#17375E;
	display:inline-block;
	width:130px;
	height:40px;
	line-height:40px;
	text-align:center;
	border-radius:5px;
	
}
.head_navbar ul li a{
	color:white;
	text-decoration:none;
	display:block;
	height:40px;
	line-height:40px;
	border-radius:5px;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	
}
.head_navbar ul li a:hover{
	background:#295466;
	
	
	/*font-family: 'Lobster', cursive;*/
	
}

.logo-mini b{
	font-size:25px;
	font-family: 'Lobster', cursive;
	color:red;
}
.logo-lg{
	font-size:20px;
	margin-top:10px;
}

 .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right:-10px;
  margin-left:20px;
  margin-top: 10px;
 
}
.notification{
  float: left;
  width: 125px;
  height: 40px;
 margin-right:15px;
  margin-top: 1px;
}
#container2{
	width:100%;
	margin:0 auto;
	
}
.sidebar{
	width:250px;
	height:100%;
	background:#171717;
	float:left;
}

ul#nav{
	
}
a{
	text-decoration:none;
}
#nav li{
	list-style:none;
}

#nav  li a{
	color:#ccc;
	display:block;
	padding:13px;
	font-size:0.9em;
	border-bottom:1px solid #0A0A0A;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-overflow-transition:0.2s;
	transition:0.2s;
}
#nav li a:hover{
	background:#030303;
	color:white;
}
ul#nav li a.selected{
	background:#004080;
	color:#fff;
}
@media only screen and (max-width:320px){
	.sidebar{
		display:none;
	}
	.content{
		margin-left:0px;
	}
}

@media only screen and (min-width: 320px){
	.sidebar{
		height:100%;
	}
	
}
.menu-greeting{
	width:100%;
	height:35px;
	background:#172f56;
	height:30px;
	line-height:30px;
	color:white;
	
}
.collapse{
	background:orange;
}	


.side-menu{
	float:right;
	margin-right:450px;
	
	
}
/* Dashboard CSS*/
.content{
	width:100%;
	height:100%;
	
	background:#d9d9d9;
	
}
.content h2{
	color:#fff;
	text-shadow:0px 1px #000;
	
	padding:6px;
	text-align:center;
	
}
.attendance h2{
	color:#fff;
	text-shadow:0px 1px #000;
	background:#2980b9;
	padding:6px;
	text-align:center;
	box-shadow:5px 5px 3px grey;
	
}
.welcomemsg{
	text-align:center;
}
.welcomemsg h3{
	
	text-align:left;
	display:inline-block;
}
.welcomemsg b{
	font-size:1.5em;
	color:#411572;
}
.welcomemsg h4{
	font-size:15px;
	color:red;
	font-weight:bold;
}

.content p{
	color:#424242;
	font-size:0.73em;
}
div#box{
	margin-top:15px;
	
}
div#box .box-top{
	color:#fff;
	text-shadow:0px 1px #000;
	background:#abacad;
	padding:8px;
	font-weight:300;
}
div#box .box-panel{
	padding:25px;
	background:white;
	
	
}
/* Dashboard CSS close*/

/*Profile Tab Css*/
.profilebar{
	background:#527da8;
	width:100%;
	height:30px;
	line-height:30px;
	color:white;
	font-weight:18px;
	box-shadow:5px 5px 7px grey;
}
.profilebar h3{
	padding:5px;
}
.tabularData{
	width:100%;
	height:90px;
	padding:30px;
	
}
.tabularData table th{
	background:#d7dbe0;
}


/* Registration*/
.signupBox{
	height:1000px;
	padding:20px 40px;
	box-sizing:border-box;
	background:lightgrey;
	border-radius:10px;
	box-shadow:5px 5px 10px grey;
	
	
}
.headbar{
	width:100%;
	height:30px;
	line-height:30px;
	color:white;
	background:#2980b9;
	text-align:left;
	padding:0px;
	margin-bottom:15px;
	text-shadow:0px 1px #000;
}
	h2{
	margin:0;
	padding:0 0 20px;
	color:#172f56;
	text-align:left;
	text-shadow:0px 1px #000;
	
}
.signupBox p{
	margin:0;
	padding:0;
	font-weight:bold;
	color:#0e0f0f;
	font-size:13px;
	
}
.signupBox b{
	color:green;
	font-size:27px;
}
.signupBox input,select{
	width:250px;
	margin-bottom:8px;
	
	
}
.signupBox input[type="text"],
.signupBox input[type="password"],
.signupBox input[type="file"]

{
	margin-right:12px;
	
	background:;
	outline:none;
	height:30px;
	color:#0e0f0f;
	font-size:16px;
}
.signupBox select[name="clubtype"],
.signupBox select[name="course"],
.signupBox select[name="department"],
.signupBox select[name="experience"],
.signupBox select[name="clubname"],
.signupBox select[name="semester"],
.signupBox select[name="gender"]{
	border:1px solid #211921;
	margin-right:12px;
	outline:none;
	height:30px;
	background:transparent;
	font-size:16px;

}
::placeholder{
	color: rgba(255,255,255,.5);
	
}
.submit{
	text-align:center;
}
.signupBox input[type="submit"]{
	width:100px;
	border:none;
	
	height:30px;
	color:#fff;
	font-size:16px;
	background:navy;
	cursor:pointer;
	border-radius:20px;
	font-weight:bold;
	box-shadow:5px 5px 8px grey;
}
.signupBox input[type="submit"]:hover{
	background:#008080;
	color:#262626;
}
.signupBox a{
	color:#fff;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	
}
.error{
	color:red;
	font-size:0.8em;
}
/* End Registration form */
/* Search CSS Start */

.SearchBar{
	background:#527da8;
	width:100%;
	height:30px;
	line-height:30px;
	color:white;
	font-weight:18px;
	
	text-align:center;
}
#searchPage{
	width:100%;
	height:15%;
	background:lightgrey;
	padding:15px;
	text-align:center;
}
.searchBox{
	width:100%;
	height:100%;
	background:lightgrey;
	padding:15px;
	box-shadow:3px 3px 3px grey;
}
.table{
	width:100%;
	border:1px solid #000000;
	box-shadow:5px 5px 7px grey;
	background:aqua;
}
.searchBox input[type="text"]{
	margin-top:20px;
	width:300px;
	height:21px;
	padding:15px;
	box-shadow:5px 5px 7px grey;
	border:none;
	
}

.searchBox input[type="submit"]
{
	background:#69a8e5;
	height:34px;
	width:80px;
	border:none;
	border-radius:3px;
	box-shadow:5px 5px 7px grey;
	cursor:pointer;
	color:white;
	margin-left:-55px;
}

.searchBox input[type="submit"]:hover{
	background:#396fc6;
	color:white;
	font-weight:bold;
}
.searchBox p{
	color:red;
	padding:15px;
	font-size:1em;
}
.searchResult{
	margin:0;
	padding:0;
	font-size:15px;
}
.searchAll{
	margin-top:4px;
	width:100%;
	height:100%;
	background:lightgrey;
	text-align:center;
	font-size:0.9em;
}
.searchAllBar{

	width:100%;
	height:25px;
	background:#6440c4;
	color:white;
	font-weight:bold;
	font-family:arial;
	line-height:25px;
	
}
.searchBar  b{
	text-transform:uppercase;
}
.searchAll input[type="submit"]{
	/*margin-top:100px;*/
	background:#69a8e5;
	height:50px;
	width:200px;
	border:none;
	border-radius:5px;
	box-shadow:5px 5px 7px grey;
	cursor:pointer;
	color:white;
	
}
.searchAll input[type="submit"]:hover{
	opacity:0.7;
	color:white;
	font-weight:bold;
}
.searchAll table th,.getAll table th{
	background:silver;
}
.tableClass{
	
	margin-top:12px;
	width:70%;
	background:aqua;
	box-shadow:5px 5px 10px grey;
	
}
.table2{
	width:50%;
	margin-top:15px;
	padding-left:80px;
}
.operation input[type="submit"]
{
	width:100px;
	height:40px;
	
	cursor:pointer;
	line-height:40px;
	margin-bottom:10px;
	
}
.operation input[name="getDetails"]{
	background:#1aa345;
}
.operation input[name="update"]{
	background:#069b71;
}
.operation input[name="delete"]{
	background:#e5323e;
}

.operation input[name="getDetails"]:hover,
.operation input[name="update"]:hover,
.operation input[name="delete"]:hover{
	opacity:0.7;
}

.getAll{
	margin-top:8px;
	background:lightgrey;
	width:100%;
	height:50%;
	text-align:center;
	
}

/* Search CSS end */
/*  CSS for Existing Registerd User starts */
.sectionFetch,.sectionInput{
	width:100%;
	padding-left:20px;
	background:#c2e4e2;
	box-shadow:4px 4px 8px grey;
	margin-bottom:10px;
}
.sectionInput h5{
	color:purple;
	font-size:0.7em;
}

/*  CSS for Attendance- starts */

.AttendanceBox{
	margin-top:7%;
	margin-left:17%;
	width:600px;
	height:300px;
	background:aqua;
	box-shadow:4px 4px 8px grey;
	border:none;
	
	
}
.AttendanceBox table{
	margin-left:60px;
}
.attBAr{
	width:100%;
	height:30px;
	background:orange;
	opacity:0.7;
	text-align:center;
	color:white;
	line-height:30px;
}
.AttendanceBox select[name="classhour"],
.AttendanceBox input[type="date"]{
	border:1px solid #2c4977;
	width:190px;
	height:25px;
	background:#e6ecf7;
	color:#021635;
	font-weight:bold;
	
}
.submitBtn {
	margin-top:16px;
	text-align:center;
	
}
.submitBtn input[type="submit"]{
	width:100px;
	height:30px;
	color:white;
	background:teal;
	border-radius:5px;
	cursor:pointer;
	
}
.submitBtn input[type="submit"]:hover{
	opacity:0.8;
	font-weight:bold;
}
.attendanceData{
	width:60%;
	max-height:100%;
	background:aqua;
	margin-top:2px;
	margin-left:20%;
	border:1px solid grey;
	box-shadow:4px 4px 6px grey;
	
}
.Attendance-Bar{
	width:100%;
	height:30px;
	background-color:#426296;
	line-height:30px;
	font-weight:bold;
	
}
.Attendance-Bar h2{
	color:white;
	text-align:center;
}
.output{
	padding:50px;
}
input[type="checkbox"]{
	width:22px;
	height:22px;
	line-height:22px;
}