body{
	background:lightgrey;
}

.loginBox{
	position:absolute;
	
	left:33%;

	width:450px;
	height:590px;
	padding:80px;
	box-sizing:border-box;
	background:white;
	box-shadow:5px 5px 2px 8px grey;
	

}
.pwer p{
	
	font-weight:bold;
	color:#fff;
	background:#acc3e2;
	width:100%;
	height:35px;
	line-height:35px;
	text-align:center;
	
}
.loginBox input{
	width:100%;
	margin-bottom:20px;
	
}
.loginBox select[name="clubtype2"],
.loginBox select[name="clubname2"]{
	
	background:transparent;
	outline:none;
	height:40px;
	
	font-size:16px;
	
}
::placeholder{
	color: rgba(255,255,255,.5);
	
}
.loginBox input[type="submit"]{
	border:none;
	width:200px;
	outline:none;
	height:35px;
	color:#fff;
	font-size:16px;
	background:#a1a4a8;
	cursor:pointer;
	border-radius:20px;
	font-weight:bold;
}

.loginBox input[type="submit"]:hover
{
	opacity:0.8;
	color:#262626;
}
